@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: #DFDFD0;
}
jumbotron{
  background-color:#EDE580;
}
h5{
  color: #EDE580;
}
.footer{
float: left;
width: 50%;

}

.quote {
  width: auto;
  border: 5px solid #EDE580;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
}
.heart{
  color: white;
}
.btn {
  margin-bottom: 5px;
}

.button {
  background-color:#d9bbf9 ;
  border: none;
  color: #EDE580;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.fa-heart {
  color: red;
}

.upvote {
  padding: 5px;
  margin-right: 2px;
  border: none;
  background: none;
  display: inline;
}

.downvote {
  padding: 5px;
  margin-left: 2px;
  border: none;
  background: none;
  display: inline;
}

#delete {
  margin-right: 50px;
}
