<div class="jumbotron">
  <form (ngSubmit)='submitQuote()' #quoteForm="ngForm">
    <div class="form-group">
      <textarea id="" cols="70" rows="5" required #name="ngModel" class="form-control" name="name" [(ngModel)]="newQuote.name">
      </textarea>
      <small class="text-danger">Create Quote here</small>
    </div>
    <div class="form-group">
      <label>Author</label>
      <input type="text" required #author="ngModel" class="form-control" name="author" [(ngModel)]="newQuote.author">
      <small class="text-danger">Author is Required</small>
    </div>

    <div class="form-group">
      <label>Publisher</label>
      <input type="text" required #publisher="ngModel" class="form-control" name="publisher" [(ngModel)]="newQuote.publisher">
      <small class="text-danger">Publisher is Required</small>
    </div>
    <button class="btn btn-primary" type="submit">Create Quote</button>
  </form>
</div>
